# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug_bin
issues

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Configuration
config

# Private keys for GitHub installation
*.private-key.pem

# Temporary stuff
.data
